.header {
  position: sticky;
  top: 0;
  display: flex;
  background: rgba(46, 46, 46, 0.92);
  backdrop-filter: blur(15px);
  gap: .5rem;
  z-index: 100;
  box-shadow: 0px 14px 41px -5px rgba(0, 0, 0, 0.15);

  @media (max-width: 1024px) {
    align-items: center;
    justify-content: center;
  }

  &__mobil {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 6rem;
    padding: .5rem 0;

    button {
      border: none;
      background: transparent;
      color: white;
      cursor: pointer;
    }

    .header__menu__logo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .link__logo {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        font-family: sans-serif;
      }
    }

    .group {
      display: flex;
      align-items: center;

      .search__icon {
        position: absolute;
        margin-left: .5rem;
        color: #979797;
      }

      .grop__input {
        background: #cfcfcf;
        border: none;
        outline: none;
        padding: .4rem 2rem;
        border-radius: 1rem;
        width: 22rem;
        height: 2rem;
        color: #3c3c3c;
      }
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__desktop {
    display: flex;
    align-items: center;
    padding: 0 6rem;
    height: 4.5rem;
    width: 100%;
    gap: 5rem;

    .link__logo-desktop {
      font-size: 2.5rem;
      font-weight: bold;
      font-family: sans-serif;
    }

    .form__search .group-desktop {
      position: relative;
      display: flex;
      align-items: center;

      .search__icon-desktop {
        position: absolute;
        left: 15px;
        color: #979797;
      }

      .grop__input-desktop {
        background: #2c2c2c;
        border: 2px solid #a1a1a1;
        outline: none;
        padding-left: 2.5rem;
        border-radius: 1rem;
        width: 450px;
        height: 2.5rem;
        color: #ffffff;
        transition: all .3s;

        &:focus {
          width: 500px;
        }
      }
    }

    .add__account {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-left: auto;

      .add, .account {
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
        transition: .3s;
      }

      .account {
        padding: 1.3rem;
        border-radius: 50%;
        background: white;
      }
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }
}