//styles for modal

@mixin main-style{
  position: absolute;
  background: #2e2e2e;
  border-radius: .5rem;
  font-size: 18px;
  padding: 1rem;
}

@mixin menu-style{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

@mixin buttonStyle {
  padding: 0.8rem;
  cursor: pointer;
  width: 12rem;
  border: 3px solid blueviolet;
  border-radius: 2rem;
  background: transparent;
  color: white;
  font-size: 1rem;
  transition: 0.2s;

  &:hover {
    background: blueviolet;
  }
}


@mixin circleButton {
  padding: 2.8rem;
  border-radius: 50%;
  border: none;
  background: white;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }
}