.header{
  position: sticky;
  top: 0;
  display: flex;
  background: #2e2e2e;
  gap: .5rem;
  z-index: 100;

  @media (max-width: 1024px) {
    align-items: center;
    justify-content: center;
  }

  &__mobil{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 6rem;

    .header__menu__logo{
      display: flex;
      align-items: center;
      justify-content: space-between;

      button{
        border: none;
        background: transparent;
        color: white;
        cursor: pointer;
      }

      .link__logo{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        font-family: sans-serif;
      }
    }

    .group{
      display: flex;
      align-items: center;

      .search__icon{
        position: absolute;
        margin-left: .5rem;
        color: #979797;
      }

      .grop__input{
        background: #cfcfcf;
        border: none;
        outline: none;
        padding: .4rem 2rem;
        border-radius: 1rem;
        width: 22rem;
        height: 2rem;
        color: #3c3c3c;
      }
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__desktop{
    display: flex;
    align-items: center;
    padding: 0 6rem;
    height: 4.5rem;
    width: 100%;
    gap: 5rem;

    .link__logo-desktop{
      font-size: 2.5rem;
      font-weight: bold;
      font-family: sans-serif;
    }

    .form__search {


      .group-desktop {
        position: relative;
        display: flex;
        align-items: center;

        .search__icon-desktop {
          position: absolute;
          left: 15px;
          color: #979797;
        }

        .grop__input-desktop {
          background: #2c2c2c;
          border: 2px solid #a1a1a1;
          outline: none;
          padding-left: 2.5rem;
          border-radius: 1rem;
          width: 450px;
          height: 2.5rem;
          color: #ffffff;

          &:hover{
            border: none;
          }
        }
      }
    }

    .account{
      padding: 1.3rem;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      margin-left: auto;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }
}