.sidebar__menu{
  position: absolute;
  background: #2e2e2e;
  top: 5.5rem;
  left: 0;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 18px;

  .menu__menu__list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}