.header {
  position: sticky;
  top: 0;
  display: flex;
  background: rgba(46, 46, 46, 0.92);
  backdrop-filter: blur(15px);
  gap: 0.5rem;
  z-index: 100;
  box-shadow: 0px 14px 41px -5px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1024px) {
  .header {
    align-items: center;
    justify-content: center;
  }
}
.header__mobil {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 6rem;
  padding: 0.5rem 0;
}
.header__mobil .header__menu__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__mobil .header__menu__logo button {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}
.header__mobil .header__menu__logo .link__logo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}
.header__mobil .group {
  display: flex;
  align-items: center;
}
.header__mobil .group .search__icon {
  position: absolute;
  margin-left: 0.5rem;
  color: #979797;
}
.header__mobil .group .grop__input {
  background: #cfcfcf;
  border: none;
  outline: none;
  padding: 0.4rem 2rem;
  border-radius: 1rem;
  width: 22rem;
  height: 2rem;
  color: #3c3c3c;
}
@media (min-width: 1024px) {
  .header__mobil {
    display: none;
  }
}
.header__desktop {
  display: flex;
  align-items: center;
  padding: 0 6rem;
  height: 4.5rem;
  width: 100%;
  gap: 5rem;
}
.header__desktop .link__logo-desktop {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
}
.header__desktop .form__search .group-desktop {
  position: relative;
  display: flex;
  align-items: center;
}
.header__desktop .form__search .group-desktop .search__icon-desktop {
  position: absolute;
  left: 15px;
  color: #979797;
}
.header__desktop .form__search .group-desktop .grop__input-desktop {
  background: #2c2c2c;
  border: 2px solid #a1a1a1;
  outline: none;
  padding-left: 2.5rem;
  border-radius: 1rem;
  width: 450px;
  height: 2.5rem;
  color: #ffffff;
  transition: all 0.3s;
}
.header__desktop .form__search .group-desktop .grop__input-desktop:focus {
  width: 500px;
}
.header__desktop .add__account {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
}
.header__desktop .add__account .add {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.header__desktop .add__account .account {
  padding: 1.3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__desktop {
    display: none;
  }
}

.nav {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  height: 4.5rem;
  width: 100%;
  background: #2e2e2e;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
.nav__list .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav .active {
  color: #f76cff;
}
@media (min-width: 1024px) {
  .nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav__list {
    gap: 4rem;
  }
}

.sidebar__menu {
  position: absolute;
  background: #2e2e2e;
  border-radius: 0.5rem;
  font-size: 18px;
  padding: 1rem;
  top: 6rem;
  left: 0;
}
.sidebar__menu .menu__menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.other {
  position: absolute;
  background: #2e2e2e;
  border-radius: 0.5rem;
  font-size: 18px;
  padding: 1rem;
  right: 0rem;
  top: 6rem;
}
.other .navbar-nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  padding: 1.4rem;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.main-video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.4rem;
  width: 100%;
  margin-left: 2rem;
}
@media (min-width: 1920px) {
  .main-video-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .main-video-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    margin-right: 2rem;
  }
}
@media (max-width: 480px) {
  .main-video-container {
    grid-template-columns: 1fr;
    gap: 0.8rem;
    margin: 0;
    padding-bottom: 3rem;
  }
}

.video-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.video-container .video {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  background: #000;
  border-radius: 1rem;
}

.navbar {
  position: sticky;
  top: 4.5rem;
  font-size: 21.5px;
  height: calc(100vh - 6rem);
  z-index: 99;
}
.navbar .menu-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.navbar .menu-list-wrapper .menu-item {
  padding: 0.8rem;
}
.navbar .menu-list-wrapper .menu-item .links {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.1s;
}
.navbar .menu-list-wrapper .menu-item .links:hover {
  color: #f76cff;
}
.navbar .menu-list-wrapper .active {
  color: #f76cff;
}
@media (max-width: 1024px) {
  .navbar {
    display: none;
  }
}

.main-account {
  display: flex;
  flex-direction: row;
  padding: 1.4rem;
}
.main-account .user-desktop,
.main-account .user-mobile {
  width: 100%;
  gap: 2rem;
  margin-top: 1.5rem;
}
.main-account .user-desktop .header-user,
.main-account .user-mobile .header-user {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-account .user-desktop .header-user .user-info,
.main-account .user-mobile .header-user .user-info {
  display: flex;
  flex-direction: column;
}
.main-account .user-desktop .header-user .user-button,
.main-account .user-mobile .header-user .user-button {
  padding: 2.8rem;
  border-radius: 50%;
  border: none;
  background: white;
}
.main-account .user-desktop .header-user .sub-button,
.main-account .user-mobile .header-user .sub-button {
  padding: 0.8rem;
  cursor: pointer;
  width: 12rem;
  border: 3px solid blueviolet;
  border-radius: 2rem;
  background: transparent;
  color: white;
  font-size: 1rem;
  transition: 0.2s;
}
.main-account .user-desktop .header-user .sub-button:hover,
.main-account .user-mobile .header-user .sub-button:hover {
  background: blueviolet;
}
.main-account .user-desktop {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.main-account .user-desktop .main-video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  width: 95%;
}
.main-account .user-desktop .main-video-container .video-container {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
}
.main-account .user-desktop .main-video-container .video-container .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .main-account .user-desktop {
    display: none;
  }
}
.main-account .user-mobile {
  flex-direction: column;
  margin: 0 auto;
}
.main-account .user-mobile .header-user {
  flex-direction: column;
}
.main-account .user-mobile .header-user .user-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.main-account .user-mobile hr {
  width: 100%;
}
@media (max-width: 1024px) {
  .main-account .user-mobile {
    display: flex;
  }
}
@media (min-width: 1025px) {
  .main-account .user-mobile {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  background: #2C2C2C;
  color: white;
  width: 100%;
  height: 100vh;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=App.css.map */
