@use "styles_components/header";
@use "styles_components/mobilMenu";
@use "styles_components/SidebarMenuMobil";
@use "styles_components/menuOther";
@use "styles_components/videoContainer";
@use "styles_components/SidebarMenuDesktop";
@use "styles_page/userPage";
@use "styles_page/aboutUs";

*{margin: 0; padding: 0; box-sizing: border-box;}

body{
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  background: #2C2C2C;
  color: white;
  width: 100%;
  height: 100vh;

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: white;
  }
}