@use "../global/mixins" as *;

.Login, .SignUp {
  @include main-style;

  .inputsDiv {
    @include inputsDivStyle;

    div {
      @include divStyle;
    }
  }

  input {
    @include inputStyle;
  }

  button {
    @include buttonStyle;
    margin-top: 1rem;
  }

  .Link__SignUp{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 1.5rem;
    background: #292929;
  }
}