@use "../global/mixins" as *;

.main__watch__container{
  padding-left: 1.4rem;
  display: flex;
  flex-direction: row;

  button{
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }

  .watch__container{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    gap: .5rem;

    .watch__embed-video{
      width: 63.5rem;
      height: 480px;
      border-radius: 1rem;
      border: none;
      background: #0f0f0f;

      @media (max-width: 768px) {
        width: 350px;
        height: 200px;
      }
    }

    .info-video{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      width: 80%;

      .user-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .account-btn{
          padding: 1.5rem;
          border-radius: 50%;
          border: none;
          background: white;
          cursor: pointer;
        }

        .sub-button{
          @include buttonStyle;
          padding: .6rem;
          width: 12rem;
        }
      }

      .like-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }

      @media (max-width: 1024px) {
        flex-direction: column;
      }
    }
  }
  
  @media (max-width: 1024px) {
    padding: 0;
  }
}